In [5]:
import pandas as pd
import os

In [71]:
df = pd.read_csv('risk_free_rate.csv')
df.index

RangeIndex(start=0, stop=343, step=1)

In [1]:
assetcode = "GCZ2018"

In [9]:
filepath = assetcode + '.csv'
filepath
dfx = pd.read_csv(filepath)
dfx.head()

         Date     Open     High      Low    Close  Change  Volume
0  2013-12-01  1337.42  1341.94  1331.06  1332.81   -4.61   20704
1  2013-12-02  1333.78  1336.87  1325.49  1326.47   -7.31   39092
2  2013-12-03  1337.13  1342.77  1334.11  1335.68   -1.45     841
3  2013-12-04  1338.73  1347.69  1335.29  1336.23   -2.50   20885
4  2013-12-05  1339.48  1345.11  1333.41  1333.81   -5.67    2299

In [73]:
df = df.set_index('MonYear')

In [74]:
df.index

Index(['01/09/1989', '01/10/1989', '01/11/1989', '01/12/1989', '01/01/1990',
       '01/02/1990', '01/03/1990', '01/04/1990', '01/05/1990', '01/06/1990',
       ...
       '01/06/2017', '01/07/2017', '01/08/2017', '01/09/2017', '01/10/2017',
       '01/11/2017', '01/12/2017', '01/01/2018', '01/02/2018', '01/03/2018'],
      dtype='object', name='MonYear', length=343)

In [77]:
df['01/09/1989':'01/09/1989']

            OneMonth  ThreeMonth  SixMonth  TwelveMonth
MonYear
01/09/1989     9.063       9.125     9.063          9.0

In [83]:
dirs = os.listdir()
for

'GCJ2018.csv'