In [10]:
import pandas as pd

In [11]:
opdf = pd.read_csv('Options/gold-options_03_30_2017.csv')

In [12]:
opdf.head()

,Trade Date,Product Code,Product Type,Underlying Product Code,Put/Call,Strike Price,Contract Year,Contract Month,Contract Day,Settlement,Open Interest,Total Volume,Globex Open Price,Globex High Price,Globex Low Price,Globex Close Price,Delta,Implied Volatility,Last Trade Date
0,20170330,OG,O,GC,C,1050,2017,5,0,198.0,4,0,NaN,NaN,NaN,NaN,0.99999,0.152858,20170425
1,20170330,OG,O,GC,C,1100,2017,5,0,148.0,1,0,NaN,NaN,153.2,NaN,0.99908,0.152858,20170425
2,20170330,OG,O,GC,C,1125,2017,5,0,123.1,1,0,NaN,NaN,128.3,NaN,0.99482,0.152858,20170425
3,20170330,OG,O,GC,C,1135,2017,5,0,113.1,2,0,NaN,NaN,110.9,NaN,0.99015,0.153846,20170425
4,20170330,OG,O,GC,C,1140,2017,5,0,108.2,38,0,NaN,NaN,106.0,NaN,0.98976,0.147602,20170425

In [19]:
opdf['Trade Date'] = 20170331

# begin = datetime.date(2017,1,1)
# end = datetime.date(2017,12,31)
# for i in range((end - begin).days+1):
#     opdf = pd.read_csv('Options/gold-options_03_30_2017.csv')
#     opdf['Trade Date'] = begin + i + 1

0       20170331
1       20170331
2       20170331
3       20170331
4       20170331
5       20170331
6       20170331
7       20170331
8       20170331
9       20170331
10      20170331
11      20170331
12      20170331
13      20170331
14      20170331
15      20170331
16      20170331
17      20170331
18      20170331
19      20170331
20      20170331
21      20170331
22      20170331
23      20170331
24      20170331
25      20170331
26      20170331
27      20170331
28      20170331
29      20170331
          ...
1605    20170331
1606    20170331
1607    20170331
1608    20170331
1609    20170331
1610    20170331
1611    20170331
1612    20170331
1613    20170331
1614    20170331
1615    20170331
1616    20170331
1617    20170331
1618    20170331
1619    20170331
1620    20170331
1621    20170331
1622    20170331
1623    20170331
1624    20170331
1625    20170331
1626    20170331
1627    20170331
1628    20170331
1629    20170331
1630    20170331
1631    20170331
1632    20170331
1633    20170331
1634    20170331
Name: Trade Date, Length: 1635, dtype: int64